/* You can add global styles to this file, and also import other style files */
body{
    background:#02AAB0; /*fallback for old browsers*/
    background:-webkit-linear-gradient(left,#00CDAC,#1e9397);
    background:-moz-linear-gradient(left,#00CDAC,#0e777a);
    background:-o-linear-gradient(left,#00CDAC,#ee0471);
    background:linear-gradient(to right,#00CDAC,#d1ec37);
}
